.navbar{
    background-color: #f2cfcf;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}
.navbar-brand {
    font-weight: 500;
    color: #009970;
    font-size: 24px;
    transition: 0.3s color;
    margin: 10px;
}


.login-button{
    background-color: #009978;
    color: #fff;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover{
    background-color: #00b383;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;

}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link{
    color: #666777;
    font-weight: 500;
    position: relative;

}

.nav-link:hover, .nav-link.active{
    color: #000;
}
@media(min-width: 991px){
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    
    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
}

.container{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
    
    

}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about-image:hover img{
    transform: scale(1.2);
}
.about-content{
    flex: 1;
}
.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}
.about-content button{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}
.about-content button:hover{
    background: #ef240a ;
}

@media screen and (max-width: 768px) {
    .container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
        padding: 0px;
        font-size: 16px;
    }

    
}

.styled-text {
    
    color: #3498db; /* Text color */
    background-color: #f0f8ff; /* Background color */
    text-align: center; /* Center align text */
    padding: 20px; /* Padding around the text */
    font-size: 24px; /* Font size */
    font-family: Arial, sans-serif; /* Font family */
}

.faq{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container3{
    width: 100%;
    max-width: 80rem;
    margin: auto;
    padding: 0 1.5rem;
}

.accordian-item{
    background-color: #283042;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px 5rem rgba(0,0,0,.1);
}

.accordian-link{
    font-size: 1.6rem;
    color: rgba(255,255,255,.8);
    text-decoration: none;
    background-color: #283042;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;

}

.accordian-link .ion-icon{
    color: #e7d5ff;
    padding: .5rem;
}

.accordian-link #removeicon{
    display: none;
}

.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #212838;
    color: rgba(255,255,255,.6);
    font-size: 1.4rem;
    transition: max-height 650ms;
}

.answer::before{
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #8fc460;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer p{
    color: rgba(255,255,255,.6);
    font-size: 1.4rem;
    padding: 2rem;
}

.accordian-item:target .answer{
    max-height: 20rem;
}

.accordian-item:target .accordian-link #addicon{
    display: none;
}

.accordian-item:target .accordian-link #removeicon{
    display: block;
}

@media (max-width: 768px) {
    .accordian-link {
        font-size: 1.4rem;
        padding: 0.8rem 0;
    }

    .answer p {
        font-size: 1.2rem;
        padding: 1.5rem;
    }
}

@media (max-width: 576px) {
    .accordian-link {
        font-size: 1.2rem;
        padding: 0.6rem 0;
    }

    .answer p {
        font-size: 1rem;
        padding: 1rem;
    }
}


.footers{
    margin-top: 800px;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

footer{
    width: 100%;
    position: absolute;
    
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;

}
.rowa{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.colb{
    flex-basis: 25%;
    padding: 10px;
}

.colb:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}

.colb h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.footerhome .footerlinks{
    list-style: none;
    margin-bottom: 12px;
}

.footerhome .footerlinks a{
    text-decoration: none;
    color: #fff;
}

form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .far{
    font-size: 18px;
    margin-right: 10px;
}

form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fa-solid{
    font-size: 16px;
    color: #ccc;
}

.social-icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright{
    text-align: center;
}

.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    margin-top: 8px;
    overflow: hidden;
}

.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;

}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

@media (max-width: 700px){
    footer{
        bottom: unset;
    }

    .colb{
        flex-basis: 100%;
        
    }
    
    .colb:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }
}