.navbar{
    background-color: #f2cfcf;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}
.navbar-brand {
    font-weight: 500;
    color: #009970;
    font-size: 24px;
    transition: 0.3s color;
    margin: 10px;
}


.login-button{
    background-color: #009978;
    color: #fff;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover{
    background-color: #00b383;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;

}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link{
    color: #666777;
    font-weight: 500;
    position: relative;

}

.nav-link:hover, .nav-link.active{
    color: #000;
}
@media(min-width: 991px){
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    
    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }

}

.policylist{
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 1rem;
}

.content {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
    overflow-y: auto;
    max-height: 90vh;
}

.heading {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
}

.paragraph {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
}

/* Responsive Design */
@media (max-width: 768px) {
    .heading {
        font-size: 1.8rem;
    }

    .paragraph {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    .heading {
        font-size: 1.5rem;
    }

    .paragraph {
        font-size: 0.8rem;
    }
}


.footers{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

footer{
    width: 100%;
    position: absolute;
    
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;

}
.rowa{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.colb{
    flex-basis: 25%;
    padding: 10px;
}

.colb:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}

.colb h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.footerhome .footerlinks{
    list-style: none;
    margin-bottom: 12px;
}

.footerhome .footerlinks a{
    text-decoration: none;
    color: #fff;
}

.footerform{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.footerform .far{
    font-size: 18px;
    margin-right: 10px;
}

.footerform input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

.footerform button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.footerform button .fa-solid{
    font-size: 16px;
    color: #ccc;
}

.social-icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright{
    text-align: center;
}

.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    margin-top: 8px;
    overflow: hidden;
}

.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;

}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

@media (max-width: 700px){
    footer{
        bottom: unset;
    }

    .colb{
        flex-basis: 100%;
        
    }
    
    .colb:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }
}
