
.navbar{
    background-color: #f2cfcf;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}
.navbar-brand {
    font-weight: 500;
    color: #009970;
    font-size: 24px;
    transition: 0.3s color;
    margin: 10px;
}


.login-button{
    background-color: #009978;
    color: #fff;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover{
    background-color: #00b383;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;

}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link{
    color: #666777;
    font-weight: 500;
    position: relative;

}

.nav-link:hover, .nav-link.active{
    color: #000;
}
@media(min-width: 991px){
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    
    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }

}

.row{
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;

}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;

}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.btn:hover{
    background: #ff523b;
}

.container{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
    

}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about-image:hover img{
    transform: scale(1.2);
}
.about-content{
    flex: 1;
}
.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}

@media screen and (max-width: 768px) {
    .container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
        padding: 0px;
        font-size: 16px;
    }

    
}
.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    min-height: 100vh;
    flex-wrap: wrap;
    

    
}


.card3{
    
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    position: relative;
    width: 300px;
    height: 350px;
}





.card3 .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
    
}

.card3 .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;

}
.card3 .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.card3 .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card3 .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3,35,54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;

}

.card3 .back .link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card3 .back .link a{
    color: #f3f3f3;
}

.card3 .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card3 .back p{
    letter-spacing: 1px;
}

.card3:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card3:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

.styled-text {
    
    color: #3498db; /* Text color */
    background-color: #f0f8ff; /* Background color */
    text-align: center; /* Center align text */
    padding: 20px; /* Padding around the text */
    font-size: 24px; /* Font size */
    font-family: Arial, sans-serif; /* Font family */
}

@media (max-width: 768px) {
    .styled-text {
        font-size: 20px; /* Smaller font size for tablets */
        padding: 15px; /* Less padding for tablets */
    }
}

@media (max-width: 480px) {
    .styled-text {
        font-size: 16px; /* Smaller font size for mobile devices */
        padding: 10px; /* Less padding for mobile devices */
    }
}

.card-container1{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top:100px;
    margin-bottom: 50px;
}

.card1{
    
    width: 325px;
    height: 450px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    overflow: hidden;
    transition: transform 0.6s ease;

}
.card1:hover{
    transform: translateY(-20px);
}

.card1 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card-content1{
    padding: 20px;
}

.card-content1 h1{
    font-size: 24px;
    margin-bottom: 10px;
}

.card-content1 p{
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.centered-text {
    max-width: 80%;
    text-align: center;
}
.image-sliderproj{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.imageslider{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.container4{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 1200px;
    width: 95%;
    background: rgb(203, 241, 241);
}
.slider-wrapper{
    position: relative;
}

#prev-slide {
    position: absolute;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    outline: none;
    background: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 10;
}

#prev-slide:hover {
    background: #444;
}

#next-slide {
    position: absolute;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    outline: none;
    background: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 10;
}

#next-slide:hover {
    background: #444;
}



.slider-wrapper .image-list{
    display: grid;
    gap: 18px;
    font-size: 0;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
}

.slider-wrapper .image-list::-webkit-scrollbar{
    display: none;
}

.slider-wrapper .image-list .image-itemss{
    width: 370px;
    height: 400px;
    object-fit: cover;
}

.container4 .slider-scrollbar{
    height: 24px;
    width: 100%;
    
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track{
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 4px;
}
.slider-scrollbar:hover .scrollbar-track{
    height: 4px;

}
.slider-scrollbar .scrollbar-thumb{
    position: absolute;
    height: 100%;
    width: 50%;
    background: #000;
    border-radius: inherit;
    cursor: grab;
}
.slider-scrollbar .scrollbar-thumb:active{
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}


@media (max-width: 1023px) {
    .slider-wrapper #prev-slide, #next-slide {
        display: none!important;
    }

    .slider-wrapper .image-list{
        gap: 10px;
        margin-bottom: 15px;
    }

    .slider-wrapper .image-list .image-itemss{
        width: 280px;
        height: 380px;
        
    }
    .slider-scrollbar .scrollbar-thumb {
        width: 20%;
    }
}


.container5{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;

}

.card__container{
    display: grid;
    row-gap: 3.5rem;
}

.card__article{
    position: relative;
    overflow: hidden;
}

.card__img{
    width: 328px;
    border-radius: 1.5rem;
    height: 400px;
}

.card__data{
    width: 280px;
    background-color: rgb(255, 255, 255);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card__description{
    display: block;
    font-size: small;
    margin-bottom: .25rem;
}

.card__title{
    font-size: medium;
    font-weight: 500;
    margin-bottom: .75rem;
}

.card__article:hover .card__data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article:hover{
    animation: remove-overflow 2s forwards;
}

.card__article:not(:hover){
    animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data{
    animation: remove-data 1s forwards;
}


@keyframes show-data{
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow{
    to{
        overflow: initial;
    }
}

@keyframes remove-data{
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}
/*for small devices*/
@media screen and (max-width: 340px){
    .container5{
        margin-inline: 1rem;
    }

    .card__data{
        width: 250px;
        padding: 1rem;
    }

}

/*for medium devices*/

@media screen and (min-width: 768px){
    .card__container{
        grid-template-columns: repeat(2,1fr);
        column-gap: 1.5rem;
    }
}

/*for large devices*/
@media screen and (min-width: 1120px){
    .container5{
        height: 100vh;
    }
    .card__container{
        grid-template-columns: repeat(3, 1fr);
    }
    .card__img{
        width: 348px;
    }
    .card__data{
        width: 316px;
        padding-inline: 2.5rem;
    }
}


.imagewithbutton{
    margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-family: Arial, sans-serif;
}

/*button above the image*/

.container6{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
}

.text-blockx{
    position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px;
      border-radius: 10px;
      max-width: 90%;
}

.text-blockx h2{
    margin: 0;
      font-size: 2em;
}

.text-blockx button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .text-blockx button:hover {
    background-color: #e64a19;
  }

  .image-containerxxx {
    width: 100%;
    max-width: 1400px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
  }
  .image-containerxxx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*footer*/

.footers{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

footer{
    width: 100%;
    position: absolute;
    
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;

}
.rowa{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.colb{
    flex-basis: 25%;
    padding: 10px;
}

.colb:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}

.colb h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.footerhome .footerlinks{
    list-style: none;
    margin-bottom: 12px;
}

.footerhome .footerlinks a{
    text-decoration: none;
    color: #fff;
}

form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .far{
    font-size: 18px;
    margin-right: 10px;
}

form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fa-solid{
    font-size: 16px;
    color: #ccc;
}

.social-icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright{
    text-align: center;
}

.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    margin-top: 8px;
    overflow: hidden;
}

.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;

}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

@media (max-width: 700px){
    footer{
        bottom: unset;
    }

    .colb{
        flex-basis: 100%;
        
    }
    
    .colb:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }
}